---
---

$gutter: 20px;
$black: #000;

@import "minima";

.card {
    display: flex;
}
.image {
    flex: 30%;
    a {
        padding-top: 7px;
        display: block;
        img {
            display: block;
        }
    }
}
.content {
    flex: 70%;
    padding-left: $gutter;
}

.text-centered {
    text-align: center;
}

.sub {
    display: block;
    font-size: 20px;
}

a, a:visited, a:hover {
    color: #2980b9;
}

#mc_embed_signup {
    background: rgba(26, 188, 156,.1);
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
    margin-bottom: 20px;
    padding: 5px;
    form {
        border: 1px dashed #1abc9c;
        padding: 20px !important;
    }
    label {
        color: #34495e;
        .home & {
            display: none !important;
        }
    }
    .button {
        background: #1abc9c !important;
        appearance: none;
        &:hover {
            background: #16a085 !important;
        }
    }
}

.margin-bottom {
    margin-bottom: $gutter;
    overflow: hidden;
}

iframe {
    margin-bottom: $gutter;
}

.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-bottom: $gutter;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

.social {
    list-style: none;
    text-align: center;
    li {
        display: inline-block;
        padding: 0px 10px;
    }
    .yt {
        position: relative;
        top: -3px;
    }
    iframe {
        margin: 0px;
    }
}