---
layout: default
---

<div class="home">

  <h1>Hi, I'm Dan Ryland.<br>I write about creating great user experiences (UX), web design &amp business strategy.</h1>

  {{ content }}

  <br>

  <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9736055499935618"
     data-ad-slot="5377977284"
     data-ad-format="auto"></ins>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <div class="card">
          <div class="image">
            <a href="{{ post.url | relative_url }}">
              <img src="{{ post.thumbnail | relative_url }}" alt="{{ post.thumbnailAlt }}">
            </a>
          </div>
          <div class="content">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <p>{{ post.excerpt | strip_html }}</p>
            <p><a href="{{ post.url | relative_url }}">Continue reading <em>{{ post.title | escape }}</em></a></p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
