---
layout: default
---

<div class="home">

  <h1 class="text-centered">Lessons in User Experience (UX) Design, <br>Digital Marketing &amp Business Strategy</h1>

  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <div id="mc_embed_signup">
  <form action="//danryland.us16.list-manage.com/subscribe/post?u=328500ad75e622329371483f2&amp;id=505dd807c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Request an invitation</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_328500ad75e622329371483f2_505dd807c9" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Get your invitation" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
  </div>

  <div class="text-centered margin-bottom">
    {{ content }}
    <ul class="social">
      <li class="t"><a href="https://twitter.com/realdanryland" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @realdanryland</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
      <li class="yt"><script src="https://apis.google.com/js/platform.js"></script><div class="g-ytsubscribe" data-channelid="UC-juA1PYRWYqD7Dym65g4HQ" data-layout="default" data-count="hidden"></div></li>
    </ul>
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <div class="card">
          <div class="image">
            <a href="{{ post.url | relative_url }}">
              <img src="{{ post.thumbnail | relative_url }}" alt="{{ post.thumbnailAlt }}">
            </a>
          </div>
          <div class="content">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <p>{{ post.excerpt | strip_html }}</p>
            <p><a href="{{ post.url | relative_url }}">Continue reading <em>{{ post.title | escape }}</em></a></p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
