---
layout: default
---

<div class="home">

  <h1>Hi, I'm Dan Ryland.<br>I write about creating great user experiences (UX), web design &amp business strategy.</h1>

  {{ content }}

  <br>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ forloop.index }}. {{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
